PidFile=/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=10
DebugLevel=3

Server=zabbix-server.ru-central1.internal
ServerActive=zabbix-server.ru-central1.internal
Hostname={{ ansible_hostname }}

ListenPort=10050
StartAgents=3
HostMetadata=Linux

Timeout=30


AllowKey=system.run[*]
#{% for key in zabbix_agent_allowkey %}
#AllowKey={{ key }}
#{% endfor %}

# User defined parameters
UserParameter=cpu.utilization,system.cpu.util[,user,avg1]
UserParameter=cpu.saturation,/etc/zabbix/scripts/system_metrics.sh cpu_saturation
UserParameter=cpu.errors,/etc/zabbix/scripts/system_metrics.sh cpu_errors

UserParameter=mem.utilization,vm.memory.size[pavailable]
UserParameter=mem.saturation,/etc/zabbix/scripts/system_metrics.sh mem_saturation
UserParameter=mem.errors,dmesg | grep -i "memory\|oom" | wc -l

UserParameter=disk.utilization[*],vfs.fs.size[$1,pfree]
UserParameter=disk.saturation,/etc/zabbix/scripts/system_metrics.sh disk_saturation
UserParameter=disk.errors,iostat -x | awk '/sd/ {sum+=$10} END {print sum}'

UserParameter=network.utilization[*],net.if.in[$1]
UserParameter=network.saturation,net.if.total[,errors]
UserParameter=network.errors,/etc/zabbix/scripts/system_metrics.sh network_errors

UserParameter=http.requests_per_sec,/etc/zabbix/scripts/http_monitor.sh requests_per_sec
UserParameter=http.status_2xx,/etc/zabbix/scripts/http_monitor.sh status_2xx
UserParameter=http.status_4xx,/etc/zabbix/scripts/http_monitor.sh status_4xx
UserParameter=http.status_5xx,/etc/zabbix/scripts/http_monitor.sh status_5xx
UserParameter=http.avg_response_time,/etc/zabbix/scripts/http_monitor.sh avg_response_time

Include=/etc/zabbix/zabbix_agentd.d/*.conf